<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Company</th>
    <th>Date posted</th>
    <th>Dated updated</th>
    <th>Technical</th>
    <th>Internship</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.title %></td>
    <td><%= job.url %></td>
    <td><%= job.company_id %></td>
    <td><%= job.date_posted %></td>
    <td><%= job.dated_updated %></td>
    <td><%= job.technical %></td>
    <td><%= job.internship %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
