<%= form_for @company, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :string, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :string, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :text, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :jobs_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :jobs_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :founded, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :founded, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :employees, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :employees, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :integer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :integer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :funding, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :funding, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :float, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :float, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_score_feed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_score_feed, :class => 'text_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                companies_path, :class => 'btn' %>
  </div>

<% end %>
