<h1>Listing companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Jobs url</th>
    <th>Description</th>
    <th>Founded</th>
    <th>Employees</th>
    <th>Funding</th>
    <th>Location</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.url %></td>
    <td><%= company.jobs_url %></td>
    <td><%= company.description %></td>
    <td><%= company.founded %></td>
    <td><%= company.employees %></td>
    <td><%= company.funding %></td>
    <td><%= company.location %></td>
    <td><%= company.category %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
