<%- model_class = Company -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<%=   if   Crunchbase::Company.find(@company.name) 

              company_crunchbase = Crunchbase::Company.find(@company.name) 
                 company_crunchbase.permalink
                 end
                 %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @company.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:string) %>:</strong></dt>
  <dd><%= @company.string %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @company.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @company.text %></dd>
  <dt><strong><%= model_class.human_attribute_name(:jobs_url) %>:</strong></dt>
  <dd><%= @company.jobs_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @company.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:founded) %>:</strong></dt>
  <dd><%= @company.founded %></dd>
  <dt><strong><%= model_class.human_attribute_name(:employees) %>:</strong></dt>
  <dd><%= @company.employees %></dd>
  <dt><strong><%= model_class.human_attribute_name(:integer) %>:</strong></dt>
  <dd><%= @company.integer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:funding) %>:</strong></dt>
  <dd><%= @company.funding %></dd>
  <dt><strong><%= model_class.human_attribute_name(:float) %>:</strong></dt>
  <dd><%= @company.float %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @company.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @company.category %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              companies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_company_path(@company), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              company_path(@company),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
